@import url("https://fonts.googleapis.com/css?family=Dosis|Ubuntu:500");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif; }

.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 100%;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #a2a2a2;
  z-index: 10; }
  .top-header .logo {
    width: 70px;
    height: 70px; }
    .top-header .logo img {
      width: 100%;
      height: 100%; }
  .top-header nav {
    width: 80%; }
    .top-header nav .menu {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      list-style: none; }
      .top-header nav .menu-item {
        padding: 10px 20px;
        font-size: 22px; }
        .top-header nav .menu-item a {
          list-style: none;
          text-decoration: none;
          color: #000000; }
      .top-header nav .menu .border {
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        margin: 0 5px;
        display: flex;
        align-items: center; }
      @media (max-width: 768px) {
        .top-header nav .menu {
          display: none; } }

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  @media (min-width: 768px) {
    #menuToggle span {
      display: none; } }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #e73931; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

.mobile-menu {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  @media (max-width: 768px) {
    .mobile-menu {
      display: block !important;
      margin-top: 24px !important; } }

.mobile-menu li {
  padding: 10px 0;
  font-size: 22px; }

#menuToggle input:checked ~ ul {
  transform: none; }

.cta {
  background-color: #0b677d;
  max-width: 100%;
  padding: 50px;
  color: #ffffff;
  text-align: center;
  margin: 50px auto 0;
  line-height: 27px;
  letter-spacing: 1px; }

.widgets {
  background-color: #2a3137;
  color: #a6afb6; }
  .widgets-wrap {
    max-width: 1350px;
    margin: auto;
    padding: 60px 45px;
    display: flex;
    flex-flow: row wrap; }
  .widgets ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .widgets ul a {
      text-decoration: none;
      color: #a6afb6; }
      .widgets ul a:hover {
        color: #e73931; }
  .widgets .left-widget,
  .widgets .right-widget {
    width: calc(100% - 30px);
    margin: 20px auto; }
    @media (min-width: 768px) {
      .widgets .left-widget,
      .widgets .right-widget {
        width: calc(50% - 10px); } }
  @media (min-width: 768px) {
    .widgets .mini-widget {
      width: calc(50% - 10px); } }
  .widgets .right-widget {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .widgets .right-widget {
        flex-direction: row; } }
  .widgets .widget-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 50px; }

.copyright {
  text-align: center;
  padding: 20px 0; }
  .copyright a {
    color: #a6afb6;
    text-decoration: none; }
    .copyright a:hover {
      color: #e73931; }

.recognized-by-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  margin: 50px auto; }

.recognized-by-text {
  position: relative;
  font-size: 30px;
  width: 40%; }
  @media (max-width: 1300px) {
    .recognized-by-text {
      width: 100%;
      max-width: 600px;
      margin-bottom: 65px; } }
  .recognized-by-text:before {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background: #e73931;
    position: absolute;
    margin: auto;
    right: 100px;
    top: 60px; }
    @media (max-width: 522px) {
      .recognized-by-text:before {
        width: 150px;
        right: 50%;
        top: 100px; } }

.recognized-by-logos {
  width: 60%; }
  @media (max-width: 1300px) {
    .recognized-by-logos {
      width: 100%; } }
  @media (min-width: 768px) {
    .recognized-by-logos {
      display: flex;
      justify-content: space-around; } }
  .recognized-by-logos img {
    margin: 0 5px;
    height: 120px; }

.testimonials-row {
  background-color: #f5f5f5;
  padding: 50px 0;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.25); }
  .testimonials-row .testimonial-wrap {
    max-width: 1350px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .testimonials-row .testimonial {
    font-size: 18px;
    line-height: 40px; }
  .testimonials-row .author span {
    font-weight: 600; }

.hotels-row {
  display: flex;
  flex-flow: row wrap;
  max-width: 1350px;
  margin: auto; }
  .hotels-row .hotel-card {
    width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
    min-height: 350px;
    box-shadow: 0 10px 26px -5px black;
    margin-bottom: 25px; }
    @media (min-width: 1200px) {
      .hotels-row .hotel-card {
        width: calc(25% - 20px) !important;
        margin: 10px; } }
    @media (min-width: 768px) {
      .hotels-row .hotel-card {
        width: calc(50% - 20px);
        margin: 10px; } }
  .hotels-row img {
    width: 100%;
    min-height: 250px; }
  .hotels-row .hotel-desc {
    padding: 25px; }
  .hotels-row .hotel-name {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #015278;
    text-decoration: none; }
  .hotels-row .rate {
    padding: 0;
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: row; }
    .hotels-row .rate li {
      list-style: none;
      display: inline-block;
      color: #FFCB00;
      padding-right: 2px; }

.hotel-quick-info {
  background-color: #0b677d;
  margin: 0;
  padding: 30px 50px;
  color: #fff; }
  .hotel-quick-info .quick-info-wrap {
    max-width: 1250px;
    margin: auto;
    display: flex; }
  .hotel-quick-info .hotel-basic-info {
    width: 20%; }
  .hotel-quick-info .hotel-facilities {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around; }
  .hotel-quick-info .hotel-facility {
    margin: 0 20px; }
  .hotel-quick-info .facility-icon img {
    width: 45px; }
  @media (max-width: 950px) {
    .hotel-quick-info .hotel-basic-info,
    .hotel-quick-info .hotel-facilities {
      width: 100%; }
    .hotel-quick-info .quick-info-wrap {
      display: block; } }

.about-hotel {
  max-width: 800px;
  margin: 30px auto;
  text-align: center; }

.hotel-rooms {
  margin-bottom: 35px; }

.room {
  height: 100%;
  width: calc(100% - 20px);
  margin: 15px auto;
  border: 1px solid #2a2a2a;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .room {
      display: flex; } }

.room-thumbnail {
  width: 100%; }
  @media (min-width: 768px) {
    .room-thumbnail {
      width: 25%; } }
  .room-thumbnail .flickity-viewport {
    height: 163px !important; }
  .room-thumbnail .slide {
    height: 100%; }

.room-meta {
  width: 100%;
  margin: 15px auto; }
  @media (min-width: 768px) {
    .room-meta {
      width: calc(55% - 25px); } }
  .room-meta .room-type {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase; }
  .room-meta .room-facilities {
    margin: 20px 0; }
  .room-meta .room-facilities span {
    margin: 0 10px; }

.price-book-cta {
  display: flex;
  width: 100%;
  margin: 15px 0; }
  @media (min-width: 768px) {
    .price-book-cta {
      display: block;
      width: 20%; } }
  .price-book-cta .price {
    font-weight: 600;
    font-size: 20px;
    color: #e73931; }
    @media (min-width: 768px) {
      .price-book-cta .price {
        margin-bottom: 50px; } }
    .price-book-cta .price span {
      color: #000000;
      font-weight: 100;
      font-style: italic; }

@media (max-width: 768px) {
  .price, .book-now-btn {
    width: 50%; } }

.btn {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 19px;
  border-color: transparent;
  text-decoration: none; }

.btn-success {
  color: #fff;
  background-color: #e73931; }

.book-now-btn {
  display: inline-block;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  border-color: transparent;
  text-decoration: none;
  background: green; }

.search-hotel {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 900px;
  margin: 20px auto;
  z-index: 10; }

.search-group {
  display: flex;
  justify-content: center;
  align-items: center; }

.search-input {
  height: 55px;
  width: 400px;
  border: 0px;
  border-radius: 3px;
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 300;
  padding: 0px 20px;
  margin: 0 10px; }

.signup-login-form {
  background: #0d7a94;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(42, 49, 55, 0.3); }
  .signup-login-form .tab-group {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0; }
    .signup-login-form .tab-group:after {
      content: "";
      display: table;
      clear: both; }
    .signup-login-form .tab-group .tab {
      width: 50%; }
    .signup-login-form .tab-group li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: rgba(160, 179, 176, 0.25);
      color: #a0b3b0;
      font-size: 20px;
      float: left;
      width: calc(100% - 30px);
      text-align: center;
      cursor: pointer;
      transition: .5s ease; }
      .signup-login-form .tab-group li a:hover {
        background: #095466;
        color: #ffffff; }
    .signup-login-form .tab-group .active a {
      background: #0b677d;
      color: #ffffff; }
  .signup-login-form .tab-content > div:last-child {
    display: none; }
  .signup-login-form h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px; }
  .signup-login-form label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px; }
    .signup-login-form label .req {
      margin: 2px;
      color: #0b677d; }
  .signup-login-form label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px; }
    .signup-login-form label.active .req {
      opacity: 0; }
  .signup-login-form label.highlight {
    color: #ffffff; }
  .signup-login-form input, .signup-login-form textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease; }
    .signup-login-form input:focus, .signup-login-form textarea:focus {
      outline: 0;
      border-color: #0b677d; }
  .signup-login-form textarea {
    border: 2px solid #a0b3b0;
    resize: vertical; }
  .signup-login-form .field-wrap {
    position: relative;
    margin-bottom: 40px; }
  .signup-login-form .top-row:after {
    content: "";
    display: table;
    clear: both; }
  .signup-login-form .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%; }
    .signup-login-form .top-row > div:last-child {
      margin: 0; }
    @media (max-width: 700px) {
      .signup-login-form .top-row > div {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px !important; } }
  .signup-login-form .button {
    border: 0;
    outline: none;
    border-radius: 6px;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #0b677d;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none; }
    .signup-login-form .button:hover, .signup-login-form .button:focus {
      background: #095466; }
  .signup-login-form .button-block {
    display: block;
    width: 100%; }
  .signup-login-form .forgot {
    margin-top: -20px;
    text-align: right; }

.hero {
  position: relative;
  background-image: url(../image/gambia.jpg);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .hero:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }
  .hero .headline,
  .hero .sub-headline {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    letter-spacing: 3px; }
  .hero .headline {
    font-size: 45px;
    top: 32%; }
  .hero .sub-headline {
    font-size: 35px;
    top: 43%; }

.headline,
.sub-headline {
  z-index: 10;
  color: #ffffff; }

.intro {
  max-width: 800px;
  text-align: center;
  margin: 50px auto 0;
  line-height: 27px;
  letter-spacing: 1px; }

.main-wrapper {
  width: calc(100% - 80px);
  max-width: 1350px;
  margin: auto; }

.rating-gallery {
  display: flex;
  flex-flow: row wrap; }
  @media (max-width: 768px) {
    .rating-gallery {
      flex-direction: column-reverse; } }

.tripadvisor-widget {
  width: 25%;
  display: flex;
  justify-content: center; }
  @media (max-width: 768px) {
    .tripadvisor-widget {
      width: 100%; } }

.hotel-gallery {
  width: 75%; }
  @media (max-width: 768px) {
    .hotel-gallery {
      width: 100%; } }

.slideshow {
  padding: 0;
  margin: 20px 0;
  list-style: none; }

.slide {
  width: 100%;
  height: 413px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
