.cta {
    background-color: $primary-color;
    max-width: 100%;
    padding: 50px;
    color: #ffffff;
    text-align: center;
    margin: 50px auto 0;
    line-height: 27px;
    letter-spacing: 1px;
}