.widgets {
	background-color: $tertiary-color;
	color: #a6afb6;

	&-wrap {
		max-width: 1350px;
		margin: auto;
		padding: 60px 45px;
		display: flex;
		flex-flow: row wrap;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			text-decoration: none;
			color: #a6afb6;

			&:hover {
				color: $secondary-color;
			}
		}
	}

	.left-widget,
	.right-widget {
		width: calc(100% - 30px);
		margin: 20px auto;

		@media (min-width: 768px) {
			width: calc(50% - 10px);
		}
	}

	.mini-widget {

		@media (min-width: 768px) {
			width: calc(50% - 10px);
		}
	}

	.right-widget {
		display: flex;
		flex-direction: column;

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}

	.widget-title {
	    font-weight: 600;
	    font-size: 20px;
	    line-height: 50px;
	}
}

.copyright {
	text-align: center;
    padding: 20px 0;

	a {
		color: #a6afb6;
		text-decoration: none;

		&:hover {
			color: $secondary-color;
		}
	}
}